In [ ]:
import pandas as pd
import numpy as np

In [ ]:
train = pd.read_csv('new_training_set.csv')
train.head(3)

,Unnamed: 0,title_1,image_1,title_2,image_2,Label
0,0,Johnson’s ® Top to Toe Hair & Body Bath 500ml,fdff8b9b8229da091dd7d070aae05f81.jpg,Johnson's cottontouch top to toe hair & body b...,41e191742760932598c7bd201e5dad47.jpg,0
1,1,Sandal Humble,906cc44f0be72d4e767669b5b63e3a17.jpg,Sandal Humble Glass - Glanzton,7a556b836bfdd08ea592216440524a34.jpg,0
2,2,PROMO LIKUID LIKUIT LIQUIT BABY POD LIQUID SAL...,475c26635de18b9f93032400732ff336.jpg,Voporizer Liquit - Likuit - Likuid - Liquid Pr...,ace93bec689f3f1565800c500a8341fa.jpg,0

In [ ]:
train_prob = pd.read_csv('train_image_prob.csv')
train_prob.tail(3)

,title_1,image_1,title_2,image_2,Label,img_prob
10151,MINYAK KUTUS KUTUS ASLI BALI,9525365b5b15af5855abf9daf03da8b4.jpg,Minyak Kutus Kutus Tamba Waras 100ml,7098a9638b9ad66fb8a7912201ec3d82.jpg,1,0.811675
10152,[1KG 13PCS] ❤ MiniMamy ❤ Baju Jumper Pendek Ka...,a245f49fdc9a03655d98e6a22a89cb7d.jpg,[1KG 13PCS] ❤ Kiddikiddo❤ Baju Jumper Kaos Pen...,ea3e2af55a4ebcdb61bfb9f5da56d1bb.jpg,0,0.290499
10153,SOMEBYMI Snail True Cica Miracle Repair Serum ...,b53a42dc8c7642798a55f1f48834933f.jpg,SOME BY MI Snail True Cica Miracle Repair Seru...,1161b1cb24f4f160a087c977dbf4a013.jpg,1,0.975482

In [ ]:
print(train.shape)
print(train_prob.shape)

(10181, 6)
(10154, 6)

In [ ]:
clear = [
    321, 487, 1792, 1972, 2487, 2981, 3532, 3597, 4183, 4331, 4345, 4617, 
    4792, 4944, 5253, 5887, 5957, 6117, 6277, 6295, 6436, 6574, 7031, 7199, 
    7812, 8122, 8926
     ]

train_1 = train.drop(clear).reset_index().drop(['index','Unnamed: 0'], axis=1)
print(train.shape)
print(train_1.shape)

(10181, 6)
(10154, 5)

In [ ]:
title_prob = pd.read_csv('match_prod2.csv')
title_prob.tail()

,No,Title 1,Title 2,Match,Unnamed: 4,Unnamed: 5
10176,10176,[Bayar Di Tempat]O.TWO.O Lipstick Matte 12 War...,O.TWO.O Lipstick Matte 12 Warna (2 in 1),1,NaN,NaN
10177,10177,Baso Aci JELETOT INTANS Gurih Khas Kota Garut,Baso Aci Instan Khas Garut Enak Gurih..,0.714285714285714,NaN,NaN
10178,10178,MINYAK KUTUS KUTUS ASLI BALI,Minyak Kutus Kutus Tamba Waras 100ml,1,NaN,NaN
10179,10179,[1KG 13PCS] ❤ MiniMamy ❤ Baju Jumper Pendek Ka...,[1KG 13PCS] ❤ Kiddikiddo❤ Baju Jumper Kaos Pen...,1,NaN,NaN
10180,10180,SOMEBYMI Snail True Cica Miracle Repair Serum ...,SOME BY MI Snail True Cica Miracle Repair Seru...,1,NaN,NaN

In [ ]:
title_prob_1 = title_prob.drop(clear).reset_index()
title_prob_1.drop(['index','No','Unnamed: 4','Unnamed: 5'], axis=1, inplace=True)
title_prob_1.head()

,Title 1,Title 2,Match
0,Johnson’s ® Top to Toe Hair & Body Bath 500ml,Johnson's cottontouch top to toe hair & body b...,1
1,Sandal Humble,Sandal Humble Glass - Glanzton,1
2,PROMO LIKUID LIKUIT LIQUIT BABY POD LIQUID SAL...,Voporizer Liquit - Likuit - Likuid - Liquid Pr...,0.4
3,6 Pasang / Set Anting Tusuk Bentuk Lingkaran A...,Subei 6 Pasang / Set Anting Tusuk Boho Bohemia...,0.769230769230769
4,ROREC NATURAL SKIN CARE MASK ROREC SHEET MASK ...,Rorec 86 Natural Skin Care Shert Mask All Variant,1

In [ ]:
print(title_prob_1.shape)
print(train_prob.shape)

(10154, 3)
(10154, 6)

In [ ]:
print(title_prob_1.columns)
print('--------------------------------------------------------------------------')
print(train_prob.columns)

Index(['Title 1', 'Title 2', 'Match'], dtype='object')
--------------------------------------------------------------------------
Index(['title_1', 'image_1', 'title_2', 'image_2', 'Label', 'img_prob'], dtype='object')

In [ ]:
df = train_prob[['title_1', 'image_1', 'title_2', 'image_2', 'img_prob']]
df['lab_prob'] = title_prob_1['Match']
df['label'] = train_prob['Label']
df.tail()

,title_1,image_1,title_2,image_2,img_prob,lab_prob,label
10149,[Bayar Di Tempat]O.TWO.O Lipstick Matte 12 War...,08f5ba211a48e9b66bbf0d0105272efb.jpg,O.TWO.O Lipstick Matte 12 Warna (2 in 1),08f5ba211a48e9b66bbf0d0105272efb.jpg,1.000000,1,1
10150,Baso Aci JELETOT INTANS Gurih Khas Kota Garut,855daa89bf4f31cec0f40b144cdb283e.jpg,Baso Aci Instan Khas Garut Enak Gurih..,ffad7f79772f4e482f420591848cd69e.jpg,0.370679,0.714285714285714,0
10151,MINYAK KUTUS KUTUS ASLI BALI,9525365b5b15af5855abf9daf03da8b4.jpg,Minyak Kutus Kutus Tamba Waras 100ml,7098a9638b9ad66fb8a7912201ec3d82.jpg,0.811675,1,1
10152,[1KG 13PCS] ❤ MiniMamy ❤ Baju Jumper Pendek Ka...,a245f49fdc9a03655d98e6a22a89cb7d.jpg,[1KG 13PCS] ❤ Kiddikiddo❤ Baju Jumper Kaos Pen...,ea3e2af55a4ebcdb61bfb9f5da56d1bb.jpg,0.290499,1,0
10153,SOMEBYMI Snail True Cica Miracle Repair Serum ...,b53a42dc8c7642798a55f1f48834933f.jpg,SOME BY MI Snail True Cica Miracle Repair Seru...,1161b1cb24f4f160a087c977dbf4a013.jpg,0.975482,1,1

In [ ]:
df['lab_prob'] = pd.to_numeric(df.lab_prob, errors='coerce')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10154 entries, 0 to 10153
Data columns (total 7 columns):
title_1     10154 non-null object
image_1     10154 non-null object
title_2     10152 non-null object
image_2     10154 non-null object
img_prob    10154 non-null float64
lab_prob    10151 non-null float64
label       10154 non-null int64
dtypes: float64(2), int64(1), object(4)
memory usage: 555.4+ KB

In [ ]:
df.to_csv('train_fix.csv', index=False)

In [ ]:
test = pd.read_csv('new_test_sample.csv')
test.drop(['Unnamed: 0'], axis=1, inplace=True)

In [ ]:
test.head()

,title_1,image_1,title_2,image_2
0,12.12 SUPER PROMO !! Sandal Jepit Pantai Fashion,83d1798fee1c90c2845204d9261169bb.jpg,Clarisse CRAZY OFFER Beli 5 Dapet 12 POLKA SUM...,caba83a8a7f9def9c4d268b6c34da7f4.jpg
1,Damai fashion jakarta - long dress JUMBO wanit...,126868769ca4a4694d36d28960f9de8a.jpg,[VIP] kasih fashion jakarta - long dress JUMBO...,7fdfe855a7be9c87238757c43b712b81.jpg
2,My Baby Minyak Telon 145 ML,86aee3dc281911f5f9d50fea17b978f0.jpg,My Baby Minyak Telon Plus 145 Ml 4btl kemasan ...,0ec544d3d4169df76ae156e76c724f0c.jpg
3,Creative Waterborne Marker Very Fine Double - ...,40ef98354335cf4780937da703ed6d65.jpg,SOMETHINC BROW WIZ Retractable Eyebrow,9cf798e5f940429f14b4af0fd48992a4.jpg
4,Goblin♛ COD Tas Ransel Anak Sekolah Karakter K...,c28512df97d0fc1d61fd30de966e01c3.jpg,TAS KARAKTER ANAK LUCU,a4c09a46d8b1adda43a2433d40bba583.jpg

In [ ]:
test_img = pd.read_csv('test_img_prob.csv')
test_img.drop(['Unnamed: 0'], axis=1, inplace=True)
test_img.head()

,title_1,image_1,title_2,image_2,img_prob
0,12.12 SUPER PROMO !! Sandal Jepit Pantai Fashion,83d1798fee1c90c2845204d9261169bb.jpg,Clarisse CRAZY OFFER Beli 5 Dapet 12 POLKA SUM...,caba83a8a7f9def9c4d268b6c34da7f4.jpg,0.388525
1,Damai fashion jakarta - long dress JUMBO wanit...,126868769ca4a4694d36d28960f9de8a.jpg,[VIP] kasih fashion jakarta - long dress JUMBO...,7fdfe855a7be9c87238757c43b712b81.jpg,0.207543
2,My Baby Minyak Telon 145 ML,86aee3dc281911f5f9d50fea17b978f0.jpg,My Baby Minyak Telon Plus 145 Ml 4btl kemasan ...,0ec544d3d4169df76ae156e76c724f0c.jpg,0.703444
3,Creative Waterborne Marker Very Fine Double - ...,40ef98354335cf4780937da703ed6d65.jpg,SOMETHINC BROW WIZ Retractable Eyebrow,9cf798e5f940429f14b4af0fd48992a4.jpg,0.201353
4,Goblin♛ COD Tas Ransel Anak Sekolah Karakter K...,c28512df97d0fc1d61fd30de966e01c3.jpg,TAS KARAKTER ANAK LUCU,a4c09a46d8b1adda43a2433d40bba583.jpg,0.264296

In [ ]:
print(test.shape)
print(test_img.shape)

(207, 4)
(207, 5)

In [ ]:
test_lab_prob = pd.read_csv('match_prod_test.csv')
test_lab_prob.head()

,No,Title 1,Title 2,Match
0,0,12.12 SUPER PROMO !! Sandal Jepit Pantai Fashion,Clarisse CRAZY OFFER Beli 5 Dapet 12 POLKA SUM...,0.800000
1,1,Damai fashion jakarta - long dress JUMBO wanit...,[VIP] kasih fashion jakarta - long dress JUMBO...,0.916667
2,2,My Baby Minyak Telon 145 ML,My Baby Minyak Telon Plus 145 Ml 4btl kemasan ...,1.000000
3,3,Creative Waterborne Marker Very Fine Double - ...,SOMETHINC BROW WIZ Retractable Eyebrow,0.000000
4,4,Goblin♛ COD Tas Ransel Anak Sekolah Karakter K...,TAS KARAKTER ANAK LUCU,1.000000

In [ ]:
test_lab_prob.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207 entries, 0 to 206
Data columns (total 4 columns):
No         207 non-null int64
Title 1    207 non-null object
Title 2    207 non-null object
Match      207 non-null float64
dtypes: float64(1), int64(1), object(2)
memory usage: 6.5+ KB

In [ ]:
df_test = test_img

In [ ]:
df_test['lab_prob'] = test_lab_prob['Match']
df_test.tail()

,title_1,image_1,title_2,image_2,img_prob,lab_prob
202,Handsock Jempol Wanita / Handsock Jempol Polos...,3a5a47af6705ba090bcc3447a6ae4588.jpg,Handsock Jempol Wanita / Handsock Jempol Polos...,eebfbbbf8e962231f5eb93b21b098193.jpg,0.489105,1.000000
203,Case IPhone Full Cover Case Soft-touch Silikon...,6bac0d6d8ea250012a452a3e2857593c.jpg,iphone Case Original Silicone Liquid Case for ...,e790c3cc8cdc4af86637f1c453624c0a.jpg,0.484183,1.000000
204,YOONA LONG DRESS PLISKET // GAMIS ALEXA SLEEVE...,97be9c6f042dd6bb4d8d26e6082b2f8e.jpg,YOONA LONG DRESS PLISKET // GAMIS ALEXA SLEEVE...,e535b80abd8b8c59ef773519435d4d6e.jpg,0.313168,1.000000
205,Tempat Pensil Model Unicorn Ukuran 17 * 21cm u...,5b08e9ef401d7176c22588529ed2aa1a.jpg,Tempat Pensil Model Unicorn Bahan Plush untuk ...,ec0d572a23bfa37267db279bb0a45078.jpg,0.486136,0.714286
206,BOLT Makanan Kucing Repack 1kg - netto 1000 gram,d21c84efbda5409ebdf2bedbf53105af.jpg,BOLT Makanan Kucing Bentuk Donat Repack 1kg - ...,6c3d211ef059b8cd13558d47e032d2ef.jpg,0.348749,1.000000

## MODELLING

In [ ]:
df.tail()

,title_1,image_1,title_2,image_2,img_prob,lab_prob,label
10149,[Bayar Di Tempat]O.TWO.O Lipstick Matte 12 War...,08f5ba211a48e9b66bbf0d0105272efb.jpg,O.TWO.O Lipstick Matte 12 Warna (2 in 1),08f5ba211a48e9b66bbf0d0105272efb.jpg,1.000000,1,1
10150,Baso Aci JELETOT INTANS Gurih Khas Kota Garut,855daa89bf4f31cec0f40b144cdb283e.jpg,Baso Aci Instan Khas Garut Enak Gurih..,ffad7f79772f4e482f420591848cd69e.jpg,0.370679,0.714285714285714,0
10151,MINYAK KUTUS KUTUS ASLI BALI,9525365b5b15af5855abf9daf03da8b4.jpg,Minyak Kutus Kutus Tamba Waras 100ml,7098a9638b9ad66fb8a7912201ec3d82.jpg,0.811675,1,1
10152,[1KG 13PCS] ❤ MiniMamy ❤ Baju Jumper Pendek Ka...,a245f49fdc9a03655d98e6a22a89cb7d.jpg,[1KG 13PCS] ❤ Kiddikiddo❤ Baju Jumper Kaos Pen...,ea3e2af55a4ebcdb61bfb9f5da56d1bb.jpg,0.290499,1,0
10153,SOMEBYMI Snail True Cica Miracle Repair Serum ...,b53a42dc8c7642798a55f1f48834933f.jpg,SOME BY MI Snail True Cica Miracle Repair Seru...,1161b1cb24f4f160a087c977dbf4a013.jpg,0.975482,1,1

In [ ]:
df_test.tail()

,title_1,image_1,title_2,image_2,img_prob,lab_prob
202,Handsock Jempol Wanita / Handsock Jempol Polos...,3a5a47af6705ba090bcc3447a6ae4588.jpg,Handsock Jempol Wanita / Handsock Jempol Polos...,eebfbbbf8e962231f5eb93b21b098193.jpg,0.489105,1.000000
203,Case IPhone Full Cover Case Soft-touch Silikon...,6bac0d6d8ea250012a452a3e2857593c.jpg,iphone Case Original Silicone Liquid Case for ...,e790c3cc8cdc4af86637f1c453624c0a.jpg,0.484183,1.000000
204,YOONA LONG DRESS PLISKET // GAMIS ALEXA SLEEVE...,97be9c6f042dd6bb4d8d26e6082b2f8e.jpg,YOONA LONG DRESS PLISKET // GAMIS ALEXA SLEEVE...,e535b80abd8b8c59ef773519435d4d6e.jpg,0.313168,1.000000
205,Tempat Pensil Model Unicorn Ukuran 17 * 21cm u...,5b08e9ef401d7176c22588529ed2aa1a.jpg,Tempat Pensil Model Unicorn Bahan Plush untuk ...,ec0d572a23bfa37267db279bb0a45078.jpg,0.486136,0.714286
206,BOLT Makanan Kucing Repack 1kg - netto 1000 gram,d21c84efbda5409ebdf2bedbf53105af.jpg,BOLT Makanan Kucing Bentuk Donat Repack 1kg - ...,6c3d211ef059b8cd13558d47e032d2ef.jpg,0.348749,1.000000

In [ ]:
X_train = df[['img_prob', 'lab_prob']]
y_train = df['label']
X_test = df_test[['img_prob', 'lab_prob']]

In [ ]:
X_train.info()
X_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10154 entries, 0 to 10153
Data columns (total 2 columns):
img_prob    10154 non-null float64
lab_prob    10151 non-null float64
dtypes: float64(2)
memory usage: 158.7 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207 entries, 0 to 206
Data columns (total 2 columns):
img_prob    207 non-null float64
lab_prob    207 non-null float64
dtypes: float64(2)
memory usage: 3.3 KB

In [ ]:
X_train[X_train.lab_prob.isnull()]

      img_prob  lab_prob
676   0.200046       NaN
4112  0.471910       NaN
7711  0.579264       NaN

In [ ]:
X_train.dropna(inplace=True)

C:\Users\Lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [ ]:
X_train.reset_index(inplace=True)
X_train.tail()

       index  img_prob  lab_prob
10146  10149  1.000000  1.000000
10147  10150  0.370679  0.714286
10148  10151  0.811675  1.000000
10149  10152  0.290499  1.000000
10150  10153  0.975482  1.000000

In [ ]:
X_train.drop(['index'], axis=1, inplace=True)

C:\Users\Lenovo\Anaconda3\lib\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [ ]:
y_train.drop([676, 4112, 7711], inplace=True)

In [ ]:
y_train.reset_index().drop(['index'], axis=1, inplace=True)

In [ ]:
print(X_train.shape)
print(y_train.shape)

(10151, 2)
(10151,)

**Import Model**

In [ ]:
from sklearn.linear_model import LogisticRegression, SGDClassifier, Perceptron
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC, LinearSVC
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score, roc_auc_score
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import VotingClassifier

In [ ]:
#define model
log_reg = LogisticRegression()
SGD = SGDClassifier()
percep = Perceptron()
tree = DecisionTreeClassifier()
rf = RandomForestClassifier()
knn = KNeighborsClassifier()
SVC = SVC()
lin_SVC = LinearSVC()
gauss = GaussianNB()

In [ ]:
tree.fit(X_train, y_train)
tree.score(X_train,y_train)

0.9985223130726036

In [ ]:
#run the model
classifiers = [('Decision Tree Classifier', tree),
               ('Random Forest Classifier', rf),
              ('KNN', knn),
              ('Logistic Regression', log_reg),
              ('Perceptron', percep),
              ('Stochastic Gradient', SGD),
              ('SVC', SVC),
              ('Linear SVC', lin_SVC),
              ('GaussianNB', gauss)]
# iterate over the defined list of tuples containing the classifiers
for clf_name, clf in classifiers:
    # fit clf to the data
    clf.fit(X_train, y_train)
    
    # predict the labels of the test
    y_pred = clf.predict(X_train)
    
    # evaluate the accuracy of clf on the train set
    print('{:s} : {:.9f}'.format(clf_name, accuracy_score(y_train, y_pred)))

Decision Tree Classifier : 0.998522313
Random Forest Classifier : 0.998423801
KNN : 0.781105310
Logistic Regression : 0.689390208
Perceptron : 0.426066397
Stochastic Gradient : 0.692247069
SVC : 0.695005418
Linear SVC : 0.691458970
GaussianNB : 0.688503596

## Hyperparameter Tuning

In [ ]:
#import GridSearchCV
from sklearn.model_selection import GridSearchCV

**Decision Tree Classifier**

In [ ]:
#Decision Tree hyperparameter tuning
params_tree = {'max_depth': range(1,30),
               'min_samples_leaf':range(1,11),
               'min_samples_split': range(1,7),
              'criterion': ['entropy', 'gini']
              }
grid_tree = GridSearchCV(estimator = tree,
                        param_grid = params_tree,
                        scoring= 'accuracy',
                        n_jobs=-1,
                        )
grid_tree.fit(X_train, y_train)

GridSearchCV(estimator=DecisionTreeClassifier(), n_jobs=-1,
             param_grid={'criterion': ['entropy', 'gini'],
                         'max_depth': range(1, 30),
                         'min_samples_leaf': range(1, 11),
                         'min_samples_split': range(1, 7)},
             scoring='accuracy')

In [ ]:
# get best parameter and score
print(grid_tree.best_params_)
print(grid_tree.best_score_)
print(grid_tree.best_estimator_)

{'criterion': 'gini', 'max_depth': 6, 'min_samples_leaf': 3, 'min_samples_split': 2}
0.6968766872103092
DecisionTreeClassifier(max_depth=6, min_samples_leaf=3)

**Random Forest Classifier **

In [ ]:
#Random Forest Hyperparameter Tuning
rf=RandomForestClassifier(oob_score=True, random_state=1)

params_rf = {'criterion': ["gini","entropy"], 
             'min_samples_leaf': [3,4,5], 
             'n_estimators': [50,100], 
             'min_samples_leaf':[2,4,10],
             'max_depth':[3,4,5,6,7],
             'max_features':['sqrt','log2']}

grid_rf = GridSearchCV(estimator = rf,
                        param_grid = params_rf,
                        scoring= 'accuracy',
                        n_jobs=-1
                      )
grid_rf.fit(X_train,y_train)

GridSearchCV(estimator=RandomForestClassifier(oob_score=True, random_state=1),
             n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': [3, 4, 5, 6, 7],
                         'max_features': ['sqrt', 'log2'],
                         'min_samples_leaf': [2, 4, 10],
                         'n_estimators': [50, 100]},
             scoring='accuracy')

In [ ]:
print(grid_rf.best_params_)
print(grid_rf.best_score_)
print(grid_rf.best_estimator_)

{'criterion': 'entropy', 'max_depth': 6, 'max_features': 'sqrt', 'min_samples_leaf': 10, 'n_estimators': 50}
0.6987476867179409
RandomForestClassifier(criterion='entropy', max_depth=6, max_features='sqrt',
                       min_samples_leaf=10, n_estimators=50, oob_score=True,
                       random_state=1)

In [ ]:
pd.DataFrame({'index':list(range(len(test))), 
                           'Label': grid_rf.best_estimator_.predict(X_test).astype(int)})

     index  Label
0        0      0
1        1      0
2        2      1
3        3      0
4        4      0
5        5      0
6        6      1
7        7      1
8        8      1
9        9      1
10      10      1
11      11      0
12      12      1
13      13      0
14      14      1
15      15      1
16      16      1
17      17      1
18      18      1
19      19      0
20      20      0
21      21      0
22      22      0
23      23      1
24      24      1
25      25      1
26      26      1
27      27      1
28      28      0
29      29      1
..     ...    ...
177    177      1
178    178      0
179    179      1
180    180      0
181    181      1
182    182      1
183    183      0
184    184      0
185    185      1
186    186      1
187    187      0
188    188      1
189    189      0
190    190      0
191    191      1
192    192      0
193    193      0
194    194      0
195    195      1
196    196      1
197    197      1
198    198      0
199    199      0
200    200      1
201    201      1
202    202      1
203    203      1
204    204      0
205    205      0
206    206      0

[207 rows x 2 columns]

**KNN**

In [ ]:
#KNN hyperparameter tuning
param_grid_knn = {'leaf_size':range(1,15), 'n_neighbors': range(1,15),
                  'p':[1,2,5], 'weights':['uniform', 'distance'],
                 'algorithm': ['auto']}
grid_knn = GridSearchCV(estimator=knn, param_grid=param_grid_knn, scoring='accuracy',
                       n_jobs=-1)
grid_knn.fit(X_train, y_train)

GridSearchCV(estimator=KNeighborsClassifier(), n_jobs=-1,
             param_grid={'algorithm': ['auto'], 'leaf_size': range(1, 15),
                         'n_neighbors': range(1, 15), 'p': [1, 2, 5],
                         'weights': ['uniform', 'distance']},
             scoring='accuracy')

In [ ]:
print(grid_knn.best_params_)
print(grid_knn.best_score_)
print(grid_knn.best_estimator_)

{'algorithm': 'auto', 'leaf_size': 1, 'n_neighbors': 8, 'p': 2, 'weights': 'uniform'}
0.6800311914099924
KNeighborsClassifier(leaf_size=1, n_neighbors=8)

In [ ]:
pd.DataFrame({'index':list(range(len(test))), 
                           'Label': grid_knn.best_estimator_.predict(X_test).astype(int)})

     index  Label
0        0      0
1        1      0
2        2      0
3        3      0
4        4      0
5        5      0
6        6      0
7        7      1
8        8      1
9        9      1
10      10      1
11      11      0
12      12      1
13      13      0
14      14      0
15      15      1
16      16      1
17      17      1
18      18      0
19      19      0
20      20      0
21      21      0
22      22      1
23      23      1
24      24      1
25      25      0
26      26      1
27      27      1
28      28      0
29      29      1
..     ...    ...
177    177      1
178    178      0
179    179      1
180    180      0
181    181      0
182    182      1
183    183      0
184    184      0
185    185      1
186    186      0
187    187      1
188    188      1
189    189      1
190    190      0
191    191      1
192    192      0
193    193      1
194    194      0
195    195      0
196    196      0
197    197      1
198    198      0
199    199      0
200    200      1
201    201      1
202    202      0
203    203      1
204    204      0
205    205      0
206    206      0

[207 rows x 2 columns]

**Logistic Regression**

In [ ]:
penalty = ['l1', 'l2']
C = np.logspace(-4,4,20)
params_grid_logreg = dict(penalty=penalty, C=C)
grid_logreg = GridSearchCV(estimator=log_reg, param_grid=params_grid_logreg)
grid_logreg.fit(X_train, y_train)

C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:552: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 531, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 1304, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
  File "C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 443, in _check_solver
    "got %s penalty." % (solver, penalty))
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got l1 penalty.

  FitFailedWarning)
C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:552: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 531, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 1304, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
  File "C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 443, in _check_solver
    "got %s penalty." % (solver, penalty))
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got l1 penalty.

  FitFailedWarning)
C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:552: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 531, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 1304, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
  File "C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 443, in _check_solver
    "got %s penalty." % (solver, penalty))
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got l1 penalty.

  FitFailedWarning)
C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:552: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 531, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 1304, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
  File "C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 443, in _check_solver
    "got %s penalty." % (solver, penalty))
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got l1 penalty.

  FitFailedWarning)
C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:552: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 531, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 1304, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
  File "C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 443, in _check_solver
    "got %s penalty." % (solver, penalty))
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got l1 penalty.

  FitFailedWarning)
C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:552: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 531, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 1304, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
  File "C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 443, in _check_solver
    "got %s penalty." % (solver, penalty))
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got l1 penalty.

  FitFailedWarning)
C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:552: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 531, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 1304, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
  File "C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 443, in _check_solver
    "got %s penalty." % (solver, penalty))
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got l1 penalty.

  FitFailedWarning)
C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:552: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 531, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 1304, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
  File "C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 443, in _check_solver
    "got %s penalty." % (solver, penalty))
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got l1 penalty.

  FitFailedWarning)
C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:552: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 531, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 1304, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
  File "C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 443, in _check_solver
    "got %s penalty." % (solver, penalty))
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got l1 penalty.

  FitFailedWarning)
C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:552: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 531, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 1304, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
  File "C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 443, in _check_solver
    "got %s penalty." % (solver, penalty))
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got l1 penalty.

  FitFailedWarning)
C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:552: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 531, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 1304, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
  File "C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 443, in _check_solver
    "got %s penalty." % (solver, penalty))
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got l1 penalty.

  FitFailedWarning)
C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:552: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 531, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 1304, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
  File "C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 443, in _check_solver
    "got %s penalty." % (solver, penalty))
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got l1 penalty.

  FitFailedWarning)
C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:552: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 531, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 1304, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
  File "C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 443, in _check_solver
    "got %s penalty." % (solver, penalty))
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got l1 penalty.

  FitFailedWarning)
C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:552: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 531, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 1304, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
  File "C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 443, in _check_solver
    "got %s penalty." % (solver, penalty))
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got l1 penalty.

  FitFailedWarning)
C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:552: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 531, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 1304, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
  File "C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 443, in _check_solver
    "got %s penalty." % (solver, penalty))
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got l1 penalty.

  FitFailedWarning)
C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:552: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 531, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 1304, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
  File "C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 443, in _check_solver
    "got %s penalty." % (solver, penalty))
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got l1 penalty.

  FitFailedWarning)
C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:552: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 531, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 1304, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
  File "C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 443, in _check_solver
    "got %s penalty." % (solver, penalty))
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got l1 penalty.

  FitFailedWarning)
C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:552: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 531, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 1304, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
  File "C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 443, in _check_solver
    "got %s penalty." % (solver, penalty))
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got l1 penalty.

  FitFailedWarning)
C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:552: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 531, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 1304, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
  File "C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 443, in _check_solver
    "got %s penalty." % (solver, penalty))
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got l1 penalty.

  FitFailedWarning)
C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:552: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 531, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 1304, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
  File "C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 443, in _check_solver
    "got %s penalty." % (solver, penalty))
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got l1 penalty.

  FitFailedWarning)

GridSearchCV(estimator=LogisticRegression(),
             param_grid={'C': array([1.00000000e-04, 2.63665090e-04, 6.95192796e-04, 1.83298071e-03,
       4.83293024e-03, 1.27427499e-02, 3.35981829e-02, 8.85866790e-02,
       2.33572147e-01, 6.15848211e-01, 1.62377674e+00, 4.28133240e+00,
       1.12883789e+01, 2.97635144e+01, 7.84759970e+01, 2.06913808e+02,
       5.45559478e+02, 1.43844989e+03, 3.79269019e+03, 1.00000000e+04]),
                         'penalty': ['l1', 'l2']})

In [ ]:
print(grid_logreg.best_params_)
print(grid_logreg.best_score_)
print(grid_logreg.best_estimator_)

{'C': 4.281332398719396, 'penalty': 'l2'}
0.6901769372751902
LogisticRegression(C=4.281332398719396)

In [ ]:
pd.DataFrame({'index':list(range(len(test))), 
                           'Label': grid_logreg.best_estimator_.predict(X_test).astype(int)})

     index  Label
0        0      0
1        1      0
2        2      1
3        3      0
4        4      0
5        5      0
6        6      1
7        7      1
8        8      1
9        9      1
10      10      1
11      11      0
12      12      1
13      13      0
14      14      1
15      15      1
16      16      1
17      17      1
18      18      1
19      19      0
20      20      0
21      21      0
22      22      1
23      23      1
24      24      1
25      25      1
26      26      1
27      27      1
28      28      0
29      29      1
..     ...    ...
177    177      1
178    178      0
179    179      1
180    180      0
181    181      1
182    182      1
183    183      0
184    184      0
185    185      1
186    186      1
187    187      0
188    188      1
189    189      0
190    190      0
191    191      1
192    192      0
193    193      0
194    194      0
195    195      0
196    196      1
197    197      1
198    198      0
199    199      1
200    200      1
201    201      1
202    202      1
203    203      1
204    204      0
205    205      1
206    206      0

[207 rows x 2 columns]